* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-image: url("./assets/background1.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}

h1 {
  text-align: center;
  margin: 3rem 0;
}

h3,
h2 {
  text-align: center;
  margin: 1rem 0;
}

.base {
  background: rgba(255, 255, 255, 0.02);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.1px);
  -webkit-backdrop-filter: blur(3.1px);
  border: 1px solid rgba(255, 255, 255, 0.02);
  width: 90%;
  margin: 0 auto;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.primary {
  border: #fff solid 1px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.primaryPizza {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Crée deux colonnes de largeur égale */
  gap: 1rem; /* Espacement entre les colonnes et les lignes */
}

.secondary {
  border: red solid 1px;
  display: flex;
  width: 95%;
  justify-content: space-between;
  gap: 1rem;
}

.secondaryPizza {
  display: flex;
  justify-content: space-between; /* Ceci va pousser les éléments aux extrémités opposées de l'espace disponible */
  align-items: flex-start; /* Ceci aligne le haut des éléments */
  width: 100%; /* Ceci s'assure que le `.secondaryPizza` prend toute la largeur disponible */
}

.secondaryPizza > div,
.secondaryPizza > p {
  width: 48%; /* 100% divisé par 2, moins 2% pour un peu d'espacement entre les deux */
}

.secondaryPizza > p {
  text-align: right; /* Pour aligner les prix à droite */
}

.secondaryBloc {
  width: 50%;
}

.blocSecond {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
