@font-face {
  font-family: "lilia";
  src: url("./assets/fonts/LilitaOne-Regular.ttf");
}

@font-face {
  font-family: "inter";
  src: url("./assets/fonts/InterstateMonoRegular.ttf");
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-image: url("./assets/background1.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  font-family: "inter";
  font-size: 1.1rem;
}

h1 {
  font-weight: 500;
  font-family: "lilia";
  text-align: center;
  margin: 2.5rem 0;
  font-size: 3rem;
}

.primaryTitle {
  font-weight: 500;
  font-family: "lilia";
  text-align: center;
  margin-bottom: 3rem;
  font-size: 2.5rem;
}

.secondaryTitle {
  font-weight: 500;
  font-family: "lilia";
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2.5rem;
}

h4 {
  font-size: 1.3rem;
}

.base {
  background: rgba(255, 255, 255, 0.02);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.1px);
  -webkit-backdrop-filter: blur(3.1px);
  border: 1px solid rgba(255, 255, 255, 0.02);
  width: 90%;
  margin: 0 auto;
  height: 80vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.primary {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.primaryPizza {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Crée deux colonnes de largeur égale */
  gap: 2rem; /* Espacement entre les colonnes et les lignes */
  padding-bottom: 4rem;
  border-bottom: #fff solid 3px;
}

.secondary {
  display: flex;
  width: 95%;
  justify-content: space-between;
  gap: 1rem;
}

.secondaryPizza {
  display: flex;
  justify-content: space-between; /* Ceci va pousser les éléments aux extrémités opposées de l'espace disponible */
  align-items: center; /* Ceci aligne le haut des éléments */
  width: 100%; /* Ceci s'assure que le `.secondaryPizza` prend toute la largeur disponible */
}

.secondaryPizza > div {
  width: 92%; /* 100% divisé par 2, moins 2% pour un peu d'espacement entre les deux */
  padding: 0 1rem 0 2rem;
  border-right: #fff solid 3px;
}

.secondaryPizza > p {
  width: 6%; /* 100% divisé par 2, moins 2% pour un peu d'espacement entre les deux */
  margin: 0 2rem;
  text-align: right; /* Pour aligner les prix à droite */
}

.secondaryBloc {
  width: 50%;
}

.blocSecond {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
